html{
    font-family: Georgia;
    color: white;
}

header,footer{
    background-color: maroon;
    text-align: center;
    padding: 2px;
}

main{
    display: flex;
}

.right,.middle,.left{
    background-color: lightsalmon;
    height: 527px;
}

.left,.right{
    width: 15%;
}

.middle{
    width: 70%;
}

.photos{
    background-color: maroon;
    height: 70px;
}

button{
    background-color: lightsalmon;
    color: maroon;
    border: none;
    font-size: 400%;
    display: block;
    margin: auto;
    padding-top: 210px;
}

@keyframes minature {
    from{padding-left: 50px;}
    to{padding-left: 0px;}
}

.photos>img{
    height: 70px;
    animation-name: minature;
    animation-duration: 4s;
}

.middle>img{
    display: block;
    margin: auto;
    padding-top: 45px;
}

@keyframes middle_img {
    from {scale: 100%;}
    to {scale: 120%;}
}

.middle>img:hover{
    scale: 120%;
    animation-name: middle_img;
    animation-duration: 5s;
}